.view-container {
	max-width: 800px;
	margin: auto;
}

.view-offset {
	margin-top: -60px;
}

.btn-sm{
	padding: .12rem .25rem;
}

.btn-margin-left {
	margin-left: 5px;
}

.form-error-msg{
	width: 350px;
	margin-top: 10px;
	transition: none;
}

.form-error-msg .fa{
	padding-right: 10px;
	transition: none;
}

.has-error{
	color: red;
	transition: none;
}

.has-success{
	color: green;
	transition: none;
}

.has-success input, .has-success textarea{
	border: 2px solid #00cd9a;
}

.has-error input, .has-error textarea{
	border: 1px solid #e60039;
}

.card-title{
	font-weight: 600;
	font-size: 1.0rem;
}

.card-body{
	padding: 1rem !important;
	overflow-y: scroll;
	max-height: 28rem;
}

.card-text{
	font-size: 0.92rem;
}

input[name="title"]:disabled {
	border: none;
	font-size: 3rem;
	letter-spacing: 1px;
}

.title-view input {
	background-color: #f8f8fe;
}
