<!-- <h5 class="page-header">Edit Blog</h5> -->
<div class="row" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>

<form [formGroup]="form" (submit)="updateBlogSubmit()" [ngClass]="{'view-offset': !editMode}" class="view-container"
	*ngIf="!loading">
	<div class="form-group">
		<label for="title"></label>
		<div
			[ngClass]="{'title-view': !editMode,'has-success': form.controls.title.valid && editMode, 'has-error': form.controls.title.dirty && form.controls.title.errors && editMode}">
			<input type="text" name="title" class="form-control card-title" maxlength="100" size="100"
				placeholder="Title" autocomplete="off" formControlName="title" [(ngModel)]="blog.title"
				[autofocus]="true">
			<div class="form-error-msg">
				<div *ngIf="form.controls.title.dirty && form.controls.title.errors?.required"><i
						class="fa fa-times"></i>This field is required</div>
				<div
					*ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">
					<i class="fa fa-times"></i>Min length: 2, Max length: 100
				</div>
				<div *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation"><i
						class="fa fa-times"></i>Must be alphanumeric</div>
			</div>
		</div>
	</div>

	<app-quill-editor [ngClass]="toolbarClass"></app-quill-editor>
	<br>

	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-secondary"
		(click)="goBack()">Back</button>

	<button *ngIf="!editMode" type="button" name="edit" class="btn btn-sm btn-info btn-margin-left"
		(click)="enterEdit()">Edit</button>

	<a *ngIf="editMode" [routerLink]="['/delete-blog/', blog._id]">
		<button [disabled]="processing" type="button" name="button"
			class="btn btn-sm btn-danger btn-margin-left">Delete</button>
	</a>
	<!-- 	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="resetForm()">Clear</button> -->
	<button *ngIf="editMode" [disabled]="!form.valid || processing || editorComponent.getQuillTextLength() < 2"
		type="submit" name="save" class="btn btn-sm btn-info btn-margin-left">Save Changes</button>
</form>