<h5 class="page-header">Edit Blog</h5>

<div class="row" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
	<div class="form-group">
		<label for="title"></label>
		<input [disabled]="processing" type="text" name="title" class="form-control" maxlength="100" size="100" placeholder="Title" autocomplete="off" [(ngModel)]="blog.title" [autofocus]="true">
	</div>

	<div class="form-group">
		<label for="body"></label>
		<textarea [disabled]="processing" contenteditable="true" name="body" rows="8" cols="80" placeholder="Body" class="form-control" maxlength="1500" [(ngModel)]="blog.body"></textarea>
	</div>
	<span style="opacity: 0.8;">Only these tags are allowed: p, b, i, u, s, font, strong, br, ol, li</span><br><br>

	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-secondary" (click)="goBack()">Back</button>
	<a [routerLink]="['/delete-blog/', blog._id]">
		<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
	</a>
<!-- 	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="resetForm()">Clear</button> -->
	<button [disabled]="processing" type="submit" name="save" class="btn btn-sm btn-info">Save Changes</button>
</form>