.row {
    height: auto;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    font-weight: 600;
}

.nav-pills:hover > .nav-link.active {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .col-3 { 
        flex: 0 0 100%;
        max-width: 100%;
     }
}