<h5 class="page-header">Profile</h5>

<div class="row" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<ul class="list-group">
	<li class="list-group-item">username: {{ username }}</li>
	<li class="list-group-item">email: {{ email }}</li>
</ul>

<br><br>
<h5 class="page-header">Login Status</h5>

<ul class="list-group">
<li class="list-group-item" *ngFor="let record of loginRecords">
<!-- <div ng-class="record.force_logout ? 'login-status-active' : 'login-status-inactive'"></div> -->
<div class="{{ record.force_logout ? 'login-status-inactive' : 'login-status-active' }}"></div>
ip address: {{ record.ipaddress }} <br>
Device: {{ record.device }} <br>
Location: {{ record.location }} <br>
Login at: {{ record.loginAt | date: "dd MMM yyyy HH:mm:ss" }} <br>
Expire at: {{ record.expireAt | date: "dd MMM yyyy HH:mm:ss" }} <br>
Active: {{ record.force_logout ? "false" : "true" }}
</li>
</ul>