/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.headroom--not-top.headroom--pinned .nav-border,
.headroom--not-top.headroom--unpinned .nav-border {
	border-bottom: none;
}

/* bootstrap override */
.mr-auto {
	margin-right: auto !important;
}

.text-muted {
	color: #868e96 !important;
}

.small,
small {
	font-size: 80% !important;
}

.btn-info {
	color: #fff !important;
	background-color: #17a2b8 !important;
	border-color: #17a2b8 !important;
}

.btn-info:hover {
	color: #fff !important;
	background-color: #138496 !important;
	border-color: #117a8b !important;
}

.btn-info:disabled,
.btn-primary:disabled {
	background-color: #868e96 !important;
	border-color: #868e96 !important;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .5) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0, 0, 0, .7) !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: rgba(0, 0, 0, .9) !important;
}

a {
	color: #566473 !important;
}

a:hover,
a:focus {
	color: #000 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff !important;
}

.btn-transparent-outline,
.btn-transparent-outline:hover {
	color: #fff !important;
}

.table>:not(:first-child) {
	border-top: 2px solid #ddd;
}

/* bootstrap override */

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	height: 20px;
	margin-left: 28px;
}

.spinner::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	margin-left: -28px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #000;
	animation: spinner .6s linear infinite;
}

.notification-box {
	position: fixed;
	bottom: 30px;
	right: 50px;
	z-index: 1050;
}

.editmode {
	margin-top: -50px !important;
}

form[name="blogForm"] {
	max-width: 800px;
	margin: auto;
}

.ql-hide .ql-toolbar {
	display: none;
}

.ql-hide .ql-container {
	background-color: #f8f8fe;
}

.ql-disabled {
	border: none !important;
	border-top: none !important;
}

.ql-disabled.ql-valid {
	background-color: #E9ECEF !important;
}

.ql-container .ql-disabled {
	border: none !important;
	border-top: none !important;
}

.ql-toolbar {
	border: none !important;
}

.ql-container {
	margin-top: 5px;
	border-radius: .25rem;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
	border-top: 1px solid #ccc;
}

.ql-editor p,
.ql-editor blockquote {
	font-size: 1.17em;
	letter-spacing: 0.6px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.ql-editor p,
.ql-editor blockquote {
	line-height: 1.6;
	letter-spacing: 0.6px;
}

* {
	transition: 0.2s;
}

div:focus {
	outline: 0;
}

.editmode #editor {
	transition: none !important;
	height: 500px;
	/* overflow-y: auto; */
}

body {
	background-color: #f8f8fe;
}

#body-container {
	margin-top: 100px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1050;
	backdrop-filter: blur(2px);
}

.btn-transparent {
	color: #fff !important;
	opacity: 0.8;
}

.btn-transparent:hover {
	color: #ccc !important;
}

.btn-transparent-outline {
	color: #fff;
	border-color: #fff;
	border-width: 2px;
	opacity: 0.8;
}

.btn-transparent-outline:hover {
	color: #fff;
	border-color: #ccc;
	border-width: 2px;
}

.btn-primary:disabled,
.btn-info:disabled {
	background-color: #868e96;
	border-color: #868e96;
}

.flash-messages {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	margin: 0;
	display: grid;
	flex-wrap: wrap;
	z-index: 200;
}

.row {
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	margin: 0;
}

.alert {
	padding: .4rem 1.25rem;
	margin: auto;
	margin-top: 10px;
	display: inline-block;
	z-index: 150;
	border: none;
}

/* @media (min-width: 768px){
	.alert{
		margin: auto;
	}
} */

.alert p {
	display: inline;
}

.alert-alert-info {
	padding: .4rem 1.25rem;
	display: inline-block;
	z-index: 150;
	border: none;
	color: #0c5460;
	background-color: #d1ecf1;
}

.btn-primary:disabled {
	background-color: #868e96 !important;
	/* overrides bootstrap setting */
	border-color: #868e96 !important;
	/* overrides bootstrap setting */
}

.btn-secondary {
	color: #eee;
}

.btn-sm {
	padding: .12rem .25rem;
}

.btn-margin-left {
	margin-left: 5px;
}

.page-header {
	pointer-events: none;
	user-select: none;
	padding-bottom: 20px;
}

@font-face {
	font-family: Noto CJK;
	src: url(assets/fonts/NotoSerifCJKtc-Regular.otf);
}

@font-face {
	font-family: Noto Sans;
	src: url(assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
	font-family: Noto Sans TC Light;
	src: url(assets/fonts/NotoSansTC-Light.otf);
}

@font-face {
	font-family: Noto Sans TC Regular;
	src: url(assets/fonts/NotoSansTC-Regular.otf);
}

.ch-font-tc-r {
	font-family: Noto Sans TC Regular;
	font-size: 13px;
	letter-spacing: 1px;
	color: #333;
}

.ch-font-cjk {
	font-family: Noto CJK;
	font-size: 13px;
	letter-spacing: 1px;
	color: #333;
}

.ch-font-sans {
	font-family: Noto Sans;
	font-size: 13px;
	letter-spacing: 1px;
	color: #333;
}

@media screen and (max-width: 768px) {
	body {
		padding-top: 0px;
	}
}

button[disabled] {
	cursor: default;
}

.has-error {
	color: red;
	transition: none;
}

.has-success {
	color: green;
	transition: none;
}

.has-success input,
.has-success textarea {
	border: 2px solid #00cd9a;
}

.has-error input,
.has-error textarea {
	border: 1px solid #e60039;
}

.card-title {
	font-weight: 600;
	font-size: 1rem;
}

@media (min-width: 768px) {
	.card-title {
		font-size: 1.375rem;
	}
}

.card-body {
	padding: 1rem !important;
	overflow-y: scroll;
	max-height: 28rem;
}

.card-text {
	font-size: 0.92rem;
}

@media (min-width: 768px) {
	.card-text {
		font-size: 1.25rem;
	}
}

.form-error-msg {
	width: 350px;
	margin-top: 10px;
	transition: none;
}

.form-error-msg .fa {
	padding-right: 10px;
	transition: none;
}