<div class="jumbotron text-center" style="margin-top: -25px; height: 240px; border-radius: .3rem;">
  <h1 style="color: #fff; opacity: 0.8; padding-top: 65px;">The Blog</h1><br>
  <!-- <p class="lead" style="color: #fff; opacity: 0.8;">Welcome to the Blog</p> -->
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-transparent-outline">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" href="#" class="btn btn-transparent">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/feed" href="#" class="btn btn-transparent-outline">Blog</a>
  </div>
</div>

<!-- <p>
  <span class="ch-font-tc-r">Noto Sans TC Regular: 從 Google Noto Fonts 字型家族網站可以找到「Noto Serif CJK TC」，也就是繁體中文，點擊右上角的「Download」即可下載、 取得七種不同字重的思源宋體字型檔，大小約在 124 MB 左右。</span><br><br>

  <span class="ch-font-cjk">Noto CJK: 從 Google Noto Fonts 字型家族網站可以找到「Noto Serif CJK TC」，也就是繁體中文，點擊右上角的「Download」即可下載、取得七種不同字重的思源宋體字型檔，大小約在 124 MB 左右。</span><br><br>

  <span class="ch-font-sans">Noto Sans: 從 Google Noto Fonts 字型家族網站可以找到「Noto Serif CJK
    TC」，也就是繁體中文，點擊右上角的「Download」即可下載、取得七種不同字重的思源宋體字型檔，大小約在 124 MB 左右。</span><br><br>

  <span>Default: 從 Google Noto Fonts 字型家族網站可以找到「Noto Serif CJK TC」，也就是繁體中文，點擊右上角的「Download」即可下載、取得七種不同字重的思源宋體字型檔，大小約在
    124 MB 左右。</span><br><br>
</p> -->