.jumbotron {
	-moz-box-shadow:    inset 0 0 10px #666;
	-webkit-box-shadow: inset 0 0 10px #666;
	box-shadow:         inset 0 0 10px #666;
	background-image: url('../../../assets/images/homeCover.jpg');
	background-size: cover;
	animation: rolling 5s infinite;
}

/* .jumbotron:hover {
	-moz-box-shadow:    inset 0 0 10px #dadfee;
	-webkit-box-shadow: inset 0 0 10px #dadfee;
	box-shadow:         inset 0 0 10px #dadfee;
} */

@keyframes rolling {
  50% {box-shadow: inset 0 0 10px #dadfee;}
}