<h5 class="page-header">Blog Feed</h5>

<div class="row" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<button type="button" name="button" class="btn btn-sm btn-warning" *ngIf="authService.loggedIn() && !newPost" (click)="newBlogForm()"><span class="fa fa-pencil-square-o"></span>New</button>

<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-sm btn-secondary" *ngIf="!newPost" (click)="reloadBlogs()">
<span class="fa fa-refresh"></span>Refresh</button>

<!-- new blog form -->
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
	<!-- title input -->
	<div class="form-group">
		<label for="title"></label>
		<div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
			<input type="text" name="title" class="form-control" maxlength="100" size="100" placeholder="Title" autocomplete="off" formControlName="title" [autofocus]="true">
			<div class="form-error-msg">
				<div *ngIf="form.controls.title.dirty && form.controls.title.errors?.required"><i class="fa fa-times"></i>This field is required</div>
				<div *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)"><i class="fa fa-times"></i>Min length: 2, Max length: 100</div>
				<div *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation"><i class="fa fa-times"></i>Must be alphanumeric</div>
			</div>
		</div>
	</div>
	<!-- title input -->
	<!-- body input -->
	<div class="form-group">
		<label for="body"></label>
		<div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
			<textarea name="body" rows="8" cols="80" placeholder="Body" class="form-control" maxlength="1500" formControlName="body"></textarea>
			<div class="form-error-msg">
				<div *ngIf="form.controls.body.dirty && form.controls.body.errors?.required"><i class="fa fa-times"></i>This field is required</div>
				<div *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)"><i class="fa fa-times"></i>Min length: 2, Max length: 1500</div>
			</div>
		</div>
	</div>
	<!-- body input -->
	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-secondary" (click)="goBack()">Back</button>
	<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="resetForm()">Clear</button>
	<button [disabled]="!form.valid || processing" type="submit" name="button" class="btn btn-sm btn-info">Submit</button>
</form>
<!-- new blog form -->

<br>
<br>

<div *ngIf="!newPost && !loadingBlogs">
	<div class="card" *ngFor="let blog of blogPosts">
    	<div class="card-body">
      		<h5 class="card-title">{{ blog.title }}</h5>
      		<!-- <p class="card-text">{{ blog.body }}</p> -->
      		<p class="card-text"><span [innerHTML]="blog.body"></span></p>
    	</div>
    	<div class="card-footer">
    		<small class="text-muted"><strong>{{ blog.createdBy }}</strong></small>
    		<small class="text-muted"> on {{ blog.createdAt | date: 'dd MMM yyyy'}} </small>
    		<span *ngIf="!authService.loggedIn() || (username === blog.createdBy)">
    		<span class="dropdown">
    			<button disabled type="button" name="button" class="btn btn-sm btn-outline-success owner">
    			<span class="fa fa-thumbs-up"></span>{{ blog.likes }}</button>
    			<div class="dropdown-content">
    				<a href="#">gugui3z24</a>
    				<a href="#">jinder</a>
    				<a href="#">patel</a>
    			</div>
    		</span>
    		<span class="dropdown">
    			<button disabled type="button" name="button" class="btn btn-sm btn-outline-danger owner">
    			<span class="fa fa-thumbs-down"></span>{{ blog.dislikes }}</button>
    			<div class="dropdown-content">
    				<a href="#">gugui3z24</a>
    				<a href="#">patel</a>
    			</div>
    		</span>
    		</span>
    		
    		<span *ngIf="authService.loggedIn() && (username !== blog.createdBy)">
    		<span class="dropdown">
    			<button type="button" name="button" class="btn btn-sm btn-nobg">
    			<span class="fa fa-thumbs-up"></span>{{ blog.likes }}</button>
    			<div class="dropdown-content">
    				<a href="#">gugui3z24</a>
    				<a href="#">jinder</a>
    				<a href="#">patel</a>
    			</div>
    		</span>
    		<span class="dropdown">
    			<button type="button" name="button" class="btn btn-sm btn-nobg">
    			<span class="fa fa-thumbs-down"></span>{{ blog.dislikes }}</button>
    			<div class="dropdown-content">
    				<a href="#">gugui3z24</a>
    				<a href="#">patel</a>
    			</div>
    		</span>
    		</span>

    		<button type="button" name="button" class="btn btn-sm btn-nobg" *ngIf="authService.loggedIn()" (click)="draftComment()">
    		<span class="fa fa-comments-o"></span>Comment</button>
    		<!-- <form>
    			<textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
    			<button type="button" name="button" class="btn btn-sm btn-info">summit</button>
    			<button type="button" name="button" class="btn btn-sm btn-danger">cancel</button>
    		</form> -->
    		<span *ngIf="authService.loggedIn() && username === blog.createdBy">
    		<a [routerLink]="['/edit-blog/', blog._id]"><button type="button" name="button" class="btn btn-sm btn-nobg"><span class="fa fa-pencil"></span></button></a>
    		<a [routerLink]="['/delete-blog/', blog._id]"><button type="button" name="button" class="btn btn-sm btn-nobg"><span class="fa fa-trash-o"></span></button></a>
    		</span>
    	</div>

	</div>
</div>
