.alert {
	margin-left: 13px;
}

.form-reg {
	width: 250px;
}

.form-error-msg {
	width: 350px;
	margin-top: 10px;
	transition: none;
}

.form-error-msg .fa{
	padding-right: 10px;
	transition: none;
}

.help-block {
	margin-top: 10px;
	transition: none;
}

.has-error {
	color: red;
	transition: none;
}

.has-success {
	color: green;
	transition: none;
}

.has-success input {
	border: 2px solid #00cd9a;
}

.has-error input {
	border: 1px solid #e60039;
}