.form-log {
	width: 250px;
}

.has-error {
	color: red;
	transition: none;
}

.has-success {
	color: green;
	transition: none;
}

.has-success input {
	border: 2px solid #00cd9a;
}

.has-error input {
	border: 1px solid #e60039;
}