<div class="notification-box" *ngIf="notification">
  <div [ngClass]="notificationClass">
    {{ notification }}
  </div>
</div>

<nav [ngClass]="{'display-none': !displayNavbar}" id="nav-header" class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container" [ngClass]="{'nav-border' : !isRootActive()}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <div class="temp-logo-font">Blog</div>
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/feed">Feed</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/channel">Channel</a>
          </li>
          <li *ngIf="authService.loggedIn() && username" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}">
            <a class="nav-link" [routerLink]="['/user/', username]">Profile</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}">
            <a class="nav-link" routerLink="/settings">Settings</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>